Distributed Programming/Final project/CheckingAccountClient/Connected Services/TransactionServiceRef/TransactionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57913/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLib.Enums" />
  <xs:import schemaLocation="http://localhost:57913/TransactionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SharedLib.Models" />
  <xs:element name="AddDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="desccription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkNo" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedLib.Enums" minOccurs="0" name="debitType" type="q1:DebitTypeEnum" />
        <xs:element minOccurs="0" name="fee" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDebitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="desccription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkNo" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedLib.Enums" minOccurs="0" name="debitType" type="q2:DebitTypeEnum" />
        <xs:element minOccurs="0" name="fee" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedLib.Enums" minOccurs="0" name="creditType" type="q3:CreditTypeEnum" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="desccription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCreditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SharedLib.Enums" minOccurs="0" name="creditType" type="q4:CreditTypeEnum" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="desccription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SharedLib.Models" minOccurs="0" name="GetAllTransactionsResult" nillable="true" type="q5:TransactionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SharedLib.Models" minOccurs="0" name="GetTransactionsByDateRangeResult" nillable="true" type="q6:TransactionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SharedLib.Enums" minOccurs="0" name="creditType" type="q7:CreditTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SharedLib.Models" minOccurs="0" name="GetCreditsByTypeResult" nillable="true" type="q8:TransactionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SharedLib.Enums" minOccurs="0" name="debitType" type="q9:DebitTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SharedLib.Models" minOccurs="0" name="GetDebitsByTypeResult" nillable="true" type="q10:TransactionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>