Distributed Programming/Lab 1/TestClient/Connected Services/MathServiceRef/MathService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50404/MathService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" type="xs:double" />
        <xs:element minOccurs="0" name="value2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q1:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMultipleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" type="xs:double" />
        <xs:element minOccurs="0" name="value2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" type="xs:double" />
        <xs:element minOccurs="0" name="value2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" type="xs:double" />
        <xs:element minOccurs="0" name="value2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CircleArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CircleAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CircleAreaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RectangleArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="width" type="xs:double" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RectangleAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RectangleAreaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriangleArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="width" type="xs:double" />
        <xs:element minOccurs="0" name="height" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriangleAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TriangleAreaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>